:root {
  --color-1: #ffffff; /* white */
  --color-2: #f4f6f9; /* light grey */
  --color-3: #f8faff; /* very light blue */
  --color-4: #eff6ff; /* light blue */
  --color-5: #bfdbfe; /* medium light blue */
  --color-6: #2563eb; /* primary blue */
  --color-7: #1e40af; /* dark blue */
  --color-8: #022e64; /* darkest blue */

  --body-bg-color: #ffffff;
  --primary-gradient: linear-gradient(95.47deg, var(--color-6) 0%, var(--color-7) 100%);

  /** global text color */
  --fonts-color-base: #374151;

  /** title font-color light bg */
  --title-colour-light-bg: #0c1e33;

  /** title font-color dark bg */
  --title-colour-dark-bg: #ffffff;

  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 20px;
  --font-size-base-sm: 18px;

  /* Desktop Font's Size */
  --h1-size: 4rem; /* 64px */
  --h2-size: 3rem; /* 48px */
  --h3-size: 2rem; /* 32px */
  --h4-size: 1.625rem; /* 26px */
  --h5-size: 1.5rem; /* 24px */
  --h6-size: 1.375rem; /* 22px */
  --p-size: 1.25rem; /* 20px */
  --cta-size: 1.125rem; /* 18px */

  /* Responsive Font Size */
  --h1-size-sm: 2.5rem; /* 40px */
  --h2-size-sm: 2rem; /* 32px */
  --h3-size-sm: 1.5rem; /* 24px */
  --h4-size-sm: 1.375rem; /* 22px */
  --h5-size-sm: 1.25rem; /* 20px */
  --h6-size-sm: 1.125rem; /* 18px */
  --p-size-sm: 1.125rem; /* 18px */
  --cta-size-sm: 1.125rem; /* 18px */

  --h1-line-height: 1.25;
  --h2-line-height: 1.25;
  --h3-line-height: 1.25;
  --h4-line-height: 1.25;
  --h5-line-height: 1.25;
  --h6-line-height: 1.25;
  --p-line-height: 1.5;
  --cta-line-height: 1.25;

  --h1-font-weight: 800;
  --h2-font-weight: 800;
  --h3-font-weight: 700;
  --h4-font-weight: 700;
  --h5-font-weight: 600;
  --h6-font-weight: 600;
  --p-font-weight: 400;
  --cta-font-weight: 600;

  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 3.5rem;
  --spacing-xxxl: 4rem;
  --spacing-xxxxl: 5rem;

  --content-wrap-spacing: 2.5rem;
  --content-wrap-spacing-sm: var(--spacing-l);

  --spacing-xs-sm: 0.25rem;
  --spacing-s-sm: 0.5rem;
  --spacing-m-sm: 0.75rem;
  --spacing-xl-sm: 1.5rem;

  /* Rich text spacing*/
  --rte-title-top-space: 3rem;
  --rte-title-top-space-sm: 2rem;
  --large-text-bold-font-size: 1.25rem;
  --medium-text-bold-font-size: 1.125rem;
  --normal-text-bold-font-size: 1rem;
  --small-text-bold-font-size: 0.875rem;

  --large-text-line-height: 1.75rem;
  --medium-text-line-height: 1.75rem;
  --normal-text-line-height: 1.5rem;
  --small-text-line-height: 1.25rem;

  --description-text-font: 'Inter', sans-serif;
  --description-text-size: 20px;
  --description-text-font-weight: 400;
  --description-text-font-color: var(--fonts-color-base);
  --description-text-size-sm: 18px;

  /** Button style base */
  --button-fontsize-base: 1rem;
  --button-fontsize-lg: 1.125rem;
  --button-fontsize-xl: 1.25rem;

  /** Button style primary */
  --btn-primary-font-weight: 600;
  --btn-primary-text-color: var(--color-1);
  --btn-primary-border-radius: 6px;
  --btn-primary-bg-color: var(--primary-gradient);
  /** hover */

  --btn-primary-text-color-hover: var(--color-1);

  /** Button style secondary */
  --btn-secondary-border-color: var(--primary-gradient);
  --btn-secondary-font-weight: 600;
  --btn-secondary-text-color: var(--color-6);
  --btn-secondary-border-radius: 6px;
  --btn-secondary-bg-color: transparent;
  /** hover */
  --btn-secondary-text-color-hover: var(--color-6);
  --btn-secondary-bg-color-hover: #2563eb0d;
  --btn-secondary-border-color-hover: var(--primary-gradient);

  /** Button style primary when dark bg colour */
  --btn-primary-font-weight-dark-bg: 600;
  --btn-primary-text-color-dark-bg: var(--color-6);
  --btn-primary-border-radius-dark-bg: 6px;
  --btn-primary-bg-color-dark-bg: var(--color-1);
  /** hover */
  --btn-primary-text-color-hover-dark-bg: var(--color-6);
  --btn-primary-bg-color-hover-dark-bg: #eff6ff;

  /** Button style secondary when dark bg colour  */
  --btn-secondary-border-color-dark-bg: var(--color-1);
  --btn-secondary-font-weight-dark-bg: 600;
  --btn-secondary-text-color-dark-bg: var(--color-1);
  --btn-secondary-border-radius-dark-bg: 6px;
  --btn-secondary-bg-color-dark-bg: transparent;
  /** hover */
  --btn-secondary-text-color-hover-dark-bg: var(--color-1);
  --btn-secondary-bg-color-hover-dark-bg: #ffffff1a;
  --btn-secondary-border-color-hover-dark-bg: var(--color-1);

  /* Page Hero Slider / Banner - leave space till image loaded*/
  --hero-bottom-space-xxlarge: 28.25%;
  --hero-bottom-space-xlarge: 37.52%;
  --hero-bottom-space-large: 40.88%;
  --hero-bottom-space-medium: 50.04%;
  --hero-bottom-space-xmedium: 82.9%;
  --hero-bottom-space-small: 106.6%;
  --hero-bottom-space-xsmall: 142.9%;

  /*Bread Crumbs*/
  --breadcrumb-bg-color: transparent;
  --breadcrumb-color: var(--color-3);
  --breadcrumb-color-hover: var(--color-6);
  --breadcrumb-separator: '>';

  /*breadcrumb dark colour*/
  --breadcrumb-color-dark-bg: var(--color-1);
  --breadcrumb-color-hover-dark-bg: var(--color-1);

  /*page banner top space*/
  --banner-top-space-sm: calc(50% + 2.1875rem);
  --banner-top-space-md: calc(50% + 2.1875rem);
  --banner-top-space-lg: calc(50% + 0.4375rem);
  --banner-top-space-xl: calc(50% + 0.4375rem);
  --banner-top-space-2xl: calc(50% + 0.4375rem);
  --banner-top-space-3xl: calc(50% + 0.4375rem);

  /* Page Banner - default medium leaver space till image loaded*/
  --banner-bottom-space-xxlarge: 26.08%;
  --banner-bottom-space-xlarge: 23.63%;
  --banner-bottom-space-large: 27.01%;
  --banner-bottom-space-medium: 31.52%;
  --banner-bottom-space-xmedium: 38.14%;
  --banner-bottom-space-small: 56.28%;
  --banner-bottom-space-xsmall: 103.73%;

  /* Page Banner - takeover*/
  --takeover-banner-bottom-space-xxlarge: 31.55%;
  --takeover-banner-bottom-space-xlarge: 40.65%;
  --takeover-banner-bottom-space-large: 46.46%;
  --takeover-banner-bottom-space-medium: 54.21%;
  --takeover-banner-bottom-space-xmedium: 65.59%;
  --takeover-banner-bottom-space-small: 84.74%;
  --takeover-banner-bottom-space-xsmall: 113.04%;

  /* Page Banner - short*/
  --short-banner-bottom-space-xxlarge: 16.79%;
  --short-banner-bottom-space-xlarge: 19.13%;
  --short-banner-bottom-space-large: 21.29%;
  --short-banner-bottom-space-medium: 28.18%;
  --short-banner-bottom-space-xmedium: 32.41%;
  --short-banner-bottom-space-small: 41.55%;
  --short-banner-bottom-space-xsmall: 62.08%;

  /* Call to action*/
  --cta-top-space: 3rem;
  --cta-bottom-space: 3rem;

  /*Accordion*/
  --accordion-heading-color: var(--color-3);
  --accordion-description-color: #374151;
  --accordion-active-border-color: var(--color-6);
  --accordion-active-section-bg-color: var(--color-1);
  --accordion-active-heading-bg-color: var(--color-1);
  --accordion-img-mb: 50px;
  --accordion-img-pt: 50px;

  /*gallery grid*/
  --gallery-grid-gallery-griditem: 2rem;

  /*PODs*/
  --pod-title-and-description-color-with-dark-bg: var(--color-1);
  --pod-for-above-section-pod-title-top-spacing: var(--spacing-l);
  --pod-for-box-section-pod-title-color: var(--color-1);
  --pod-for-box-section-pod-description-color: var(--color-1);

  /* Forms*/
  /* <input> background color*/
  --input-bg: #ffffff;

  /* <input> background color autofill highlight*/
  --input-color-autofill: #323f53;

  /* Text color for <input>*/
  --input-color: var(--fonts-color-base);

  /* <input> border color*/
  --input-border: #b4b4b4;
  --input-border-validation-error: #ff0000;

  /* Default `.form-control` height*/
  --input-heightbase: 3rem;

  /* .form-group` margin*/
  --form-group-margin-botom: 40px;

  /*Error handling*/
  --validation-error-font-size: 14px;
  --validation-error-font-weight: 400;
  --state-warning-text: #ff0000;

  --generic-text-color: #ffffff;

  /* Contact form and Contact detail*/
  --sidebar-item-bottom: var(--spacing-s);
  --sidebar-item-border: #dcdcdc;
  --sidebar-item-border-radius: 4px;
  --sidebar-item-head-font-size: 16px;
  --sidebar-item-head-font-weight: 500;
  --sidebar-item-head-bg-color: var(--color-5);
  --sidebar-item-head-font-color: var(--color-1);
  --sidebar-item-head-lr-spacing: var(--spacing-m);
  --sidebar-item-head-tb-spacing: var(--spacing-m-sm);
  --sidebar-item-body-textcolor: var(--color-3);
  --sidebar-item-body-textcolor-hover: var(--color-5);

  --single-blogtitle: var(--color-3);
  --single-blog-content-btn-colour: var(--color-6);

  /* blog page sidebar*/
  --blog-sidebar-accor-border-colour: #e0effe;
  --blog-sidebar-accor-heading-colour: #0c1e33;
  --blog-sidebar-accor-heading-hovercolour: var(--color-6);

  --grid-blog-cate-item-bg-colour: var(--color-5);
  --grid-blog-cate-item-colour: var(--color-1);
  --grid-blog-content-date-colour: var(--color-1);
  --grid-blog-content-author-colour: var(--color-1);
  --grid-blog-content-title-colour: var(--color-1);

  --vertical-blog-content-date-colour: var(--color-3);
  --vertical-blog-content-author-colour: var(--color-3);
  --vertical-blog-content-title-colour: var(--color-3);
  --vertical-listing-item-bg-colour: #e0e0e0;
  --vertical-blog-content-item-colour: var(--color-5);
  --vertical-blog-content-readmore-colour: #333333;
}
